@import "./../../../styles/config.scss";

.btn {
    height: 50px;
    width: 100%;
    background: #007aff;
    border-radius: 8px;
    border: none;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s linear;

    &:hover {
        background: #0054b1;
    }
    &:active {
        transform: translateY(8px);
    }
}
