@import "./config";
/*
=============================
Reset
=============================
*/

@import "reset";

/*
=============================
Typography
=============================
*/

@import "fonts";

/*
=============================
Body
=============================
*/

* {
    box-sizing: border-box;
}

html,
body,
#root
// #root > div 
{
    // height: 100%;
    
}

body {
    font-family: "Gotham_Regular";
    font-size: 14px;
    line-height: 1.4;
    color: $color-white;
    margin: 43px;
    background-color: $color-background-layout;
}


input,
button {
    font-family: "Gotham_Regular";
    font-size: 14px;
    line-height: 16px;
}

