
/*
=============================
Colors
=============================
*/

$color-white: #ffffff;
$color-font-gray: #EBEBF599;
$color-background-layout: #1F2223;
$color-background: #000000;
$color-blue: #007AFF;





