@import './../../../styles/config.scss';

.link {
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.408px;
    text-decoration-line: underline;
    color: #FFFFFF;
    text-decoration: none;
}

