@import "./../../../styles/config.scss";

.wrapper {
    width: 100%;
}
.wrapper > div{
    width: 100%;
}

.wrapper > div > div:first-child{
    height: 100px;
}
.wrapper > div:first-child > div > div > div{
    width: 15px;
    height: 15px;
    border: 1px solid white;
}

.hueWrapper {
    height: 10px;
    width: 343px;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}

.saturationWrapper {
    width: 343px;
    height: 150px;
    position: relative;
    cursor: pointer;
}