@import "./../../../styles/config.scss";


.colorItem {
    width: 54px;
    height: 54px;
    border-radius: 5px; 
    justify-self: center;
    position: relative;
    cursor: pointer;
    &:hover .removeBtn {
        visibility: visible;
        opacity: 1;
        cursor: pointer;
    }
    &:active .removeBtn {
        transform: scale(1.3);
    }
}

.removeBtn {
    position: absolute;
    content: '';
    width: 17px;
    height: 17px;
    background-image: url('./../../../assets/images/remove_icon.svg');
    background-repeat: no-repeat;
    top: -8px;
    right: -7px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s linear;
}